import(ggplot2)
import(lmtest)
import(sandwich)
import(survey)
importFrom("stats", "coefficients", "formula", "lm", "model.matrix",
             "pnorm", "qnorm", "quantile", "relevel", "terms", "var")
importFrom("utils", "read.csv")
importFrom("methods", "Quote")
importFrom("stats", "vcov")
export(amce)
export(plot.amce)
export(summary.amce)
export(print.summary.amce)
export(makeDesign)
export(read.qualtrics)
S3method(plot, amce)
S3method(summary, amce)
S3method(print, summary.amce)
